{% extends 'base.html.twig' %}

{% block title %}Department index{% endblock %}

{% block body %}
    <h1>Department index</h1>

    <table class="blueTable">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Company</th>
            <th>Team Lead</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for department in departments %}
            <tr>
                <td>{{ department.id }}</td>
                <td>{{ department.title }}</td>
                <td>{{ department.description }}</td>
                <td>
                    {% if department.company %}
                        <a href="{{ path('company_show', {'id': department.company.id}) }}">{{ department.company }}</a>
                    {% endif %}
                </td>
                <td>
                {% if department.teamLead %}
                    <a href="{{ path('staff_show', {'id': department.teamLead.id}) }}">{{ department.teamLead }}</a>
                {% else %}
                    -
                {% endif %}
                </td>
                <td>
                    <a href="{{ path('department_show', {'id': department.id}) }}">show</a>
                    <a href="{{ path('department_edit', {'id': department.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('department_new') }}">Create new</a>
{% endblock %}
